.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
    
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;


}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.topicos__link {
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
       
}
 
.topicos__item a {
   margin: 0.5em 0.15em 0.8em 0.20em;
   display: inline-block;
     
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;

    }

    .topicos__link {
        font-size: 24px;
    }

    .topicos__link:hover {
        background-color: var(--laranja-selecao-topico);

    }
}

    @media screen and (min-width:1728px) {

        .topicos {
            padding: 3em 30vw;
        }

        

    }


    
